<!-- ============= Footer ================ -->
<footer>
<div class="top_footer container-fluid">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-12 part1"> <a href=""><img src="../../../assets/images/logo-footer.png" alt="Logo" width="100" height="100" style="border-radius: 80rem;"></a>
<p>PECCU is a financial Co-operative Credit Union owned and managed by its members. It was founded by the Employees of then PECTEN CAMEROON COMPANY and now called ADDAX Petroleum.</p>
<p><i class="fa fa-phone"></i>&nbsp;&nbsp; +237 233 - 42 - 16 - 83</p>
<p>contact@peccu.com</p>
<ul class="p0">
  <li><a href=""><i class="fab fa-facebook"></i></a></li>
  <li><a href=""><i class="fab fa-twitter"></i></a></li>
  <li><a href=""><i class="fab fa-linkedin"></i></a></li>
  </ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 part2">
<h5>Our Services</h5>
<ul class="">
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Ordinary shares account</a></li>
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Variable shares</a></li>
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Redeemable Preference shares (RPS)</a></li>
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Savings account</a></li>
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Line of credit for business accounts</a></li>
</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 part2">
<h5>Our Products</h5>
 <ul class="">
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Building or House purchase loan</a></li>
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Golden Loan</a></li>
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Education or school fees loans</a></li>
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Agricultural loans</a></li>
  <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Express loans</a></li>
</ul>
</div>

</div>
<!-- End row --> 
</div>
</div>
<!-- End top_footer -->
<div class="bottom_footer container-fluid">
<div class="container">
<p class="float_left">Copyright &copy; PECCU <script>document.write(new Date().getFullYear())</script>. All rights reserved. </p>
<p class="float_right">Created by: I-Tech Sarl</p>
</div>
</div>
<!-- End bottom_footer --> 
</footer>
<!-- ============= /Footer =============== -->