<!-- ======= Banner ======= -->
<section class="p0 container-fluid banner about_banner">
    <div class="about_banner_opacity">
        <div class="container">
            <div class="banner_info_about">
                <h1>Pecten Employees Coorperative Credit Union Celebrates 30 Years of Great Achievement</h1>
                <ul class="breadcrumbs">
                    <li><a routerLink="/home">Pecten Employees Coorperative Credit Union Celebrates 30 Years of Great Achievement</a></li>
                </ul>
            </div>
            <!-- End Banner Info -->
        </div>
        <!-- End Container -->
    </div>
    <!-- End Banner_opacity -->
</section>
<!-- End Banner -->
<!-- ================= /Banner ================ -->
<!-- =============== blog container ============== -->
<article class="blog-container faqs_sec blog-two">
    <!-- faqs_sec use for style side content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 white-left right-side ptb-13">
                





<h1>Pecten Employees Coorperative Credit Union Celebrates 30 Years of Great Achievement</h1>
<p>We are pleased to announce that PECCU, the Pecten Employee Cooperative Credit Union is celebrating its 30TH Anniversary. This great event will
    be marked by a series of activities to .celebrate the success and the achievements of this financial institution from its creation till date.
    PECCU is celebrating 30 years of excellence and we believe for this celebration to be successful, our media friends have to join us to share
    their success story.
</p>
<p>PECCU is a financial Co-operative Credit Union owned and managed by its members. Founded by the Employees of PECTEN CAMEROON COMPANY, its first
    registration was in 1986 and re-registered in 2001. The main purpose of PECCU is to give the possibility to members in accumulating their savings,
    create a source of credit, promote social and economic growth and interest of its member and the community. The whole event will consist in
    a three phase celebration on two days:
</p>
<p>A Charity Walk on Saturday February 20, 2016, during which funds will be raised to support an orphanage. This will be followed by a soccer match
    at the Addax Basement. There will be two matches, one by men and the other by women, all members, executive bureau and well-wishers of PECCU.
    These will be another way to connect with the community. A Press Conference will be held on the 24th February at Ibis Hotel, Douala so as to
    share the success story of this financial institution across the whole world. The 26th February, 2016 calls for celebration as a Gala Party
    in happiness and pride to celebrate 30 years of excellence and success.
</p>
<p>The guests’ dynamics of the PECCU 30th Anniversary are members, EXCO, government officials and all PECCU well-wishers. Join them in celebrating
    in grand style and festivity great moments of this final institution’s life and history.
</p>
<p>
    <strong>For More Information:</strong> <a routerLink="contact">Contact Us</a><br/>
    <strong><div routerLink="">Click to Visit our Facebook Page

    </div>
    </strong>
    </p>
    </div>
            <!-- End right-side -->
            <div class="col-lg-4 col-md-4 col-sm-12 left_side blog_right_container">
<!-- Left Side -->
<h4>Search</h4>
<form action="#">
<input type="text" placeholder="Enter Search Keywords">
<button type="submit"><span class="icon icon-Search"></span>
</button>
</form>
<h4>Quick Links</h4>
<ul class="p0 category_item">
<li><a routerLink="about/women"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;PECCU Women</a>
</li>
<li><a routerLink="about/bod"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Board of Directors</a>
</li>
<li><a routerLink="about/csr"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Corporate Social Responsibility</a>
</li>
<li><a routerLink="about/regulations"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Regulatory Information</a>
</li>
<li><a routerLink="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Loans</a>
</li>
<li><a routerLink="#" class="bottom_item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Savings</a>
</li>
</ul>
<h4>Latest</h4>
<ul class="p0 post_item">
<li>AUG 12,2016<a routerLink="schooloans">Ongoing School Fees Loans! ...</a>
</li>
<li>FEB 02,2016<a routerLink="peccu30years">Pecten Employees Coorperative Credit Union Celebrates 30 Years of Great Achievement ...</a>
</li>
<li>AUG 12,2015<a href="#" class="bottom_item">Making Cents Investments in Start-ups become profitable for Companies ...</a>
</li>
</ul>
</div>
            <!-- End left side -->
        </div>
        <!-- End row -->
    </div>
</article>

<!-- =============== /blog container ============== -->

<!-- ============ free consultation ================ -->
<section class="container-fluid consultation">
    <div class="container text-center">
        <p>If you have any querry for loans or interest rates ... We are available</p>
        <a routerLink="contact">Contact us <i class="fa fa-arrow-circle-right"></i></a> </div>
</section>
<!-- End consultation -->
<!-- ============ /free consultation ================ -->