/*----- Header----*/

header .top_header {
	background: url(/web/20190130135839im_/http://www.peccu.org/images/top-header.jpg) no-repeat center;
	height:49px;
}
header .top_header p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #7f8997;
	padding: 0;
	margin: 0;
	line-height: 50px;
}
header .top_header ul {
	margin: 0;
}
header .top_header ul li {
	display: inline-block;
	padding-left: 16px;
	line-height: 50px;
}
 header .top_header ul li i,
 header .top_header ul li span {
 	color: #7f8997;
 	display: block;
 }
 header .top_header ul li i:hover,
 header .top_header ul li i:focus {
 	color:#1F75BB;
 }
 header .top_header ul li button {
 	background: transparent;
 	width:30px;
 	height:30px;
 	border:1px solid #545a61;
 	border-radius: 50%;
 }
 .top_header #search_box input {
	background: transparent;
	border:1px solid #939393;
	display: none;
	color: #fff;
	padding-left:10px;
	height:30px;
	line-height: 28px;
	font-size: 14px;
}
.top_header #search_box input:focus {
	outline: none;
}
 header .bottom_header .logo .logo_text p:nth-child(1) {
 	font-family: 'Raleway', sans-serif;
 	font-weight: 800;
 	font-size: 2em;
 	color: #1c1a21;
 	display: inline-block;
 	padding-top: 44px;
    position: relative;
 }
 header .bottom_header {
 	padding: 28px 0;
 }
 header .bottom_header .logo {
 	line-height: 57px;
 }
 header .bottom_header .address p {
 	display: inline-block;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 0.875em;
 	color: #232932;
 	margin: 0;
 }
 header .bottom_header .address p>span {
 	color : #9692a0;
 }
 header .bottom_header .address>span{
 	color: rgba(40, 47, 57, 0.7);
 	font-size: 1.875em;
 	padding-right:18px;
 	margin-left: 42px;
 }
 header .bottom_header .address>span.separator {
    border-left: 1px solid #F7F7F9;
    padding-left: 25px;
    margin-left: 20px;
    position: relative;
}
header .bottom_header .address>span.separator:after {
content: '';
position: absolute;
left: -1px;
top: 0;
width: 1px;
height: 100%;
background: #D0D0D0;
}
header .bottom_header .address .top-info {
	display: inline-block;
	padding-left: 20px;
}
header .bottom_header .address .top-info:first-child {
	padding-left: 0;
}
header .bottom_header .address .top-info:first-child .icon {
	padding-left: 0;
	border: none;
}
header .bottom_header .address .top-info:first-child .icon:after {
	display: none;
}
header .bottom_header .address .top-info .icon-box,
header .bottom_header .address .top-info .content-box {
	display: table-cell;
	vertical-align: middle;
}
header .bottom_header .address .top-info .icon-box {
	padding-right: 20px;
}
header .bottom_header .address .top-info .icon-box span {
	font-size: 30px;
	border-left: 1px solid #F6F6F7;
	padding-left: 25px;
	position: relative;
	color: #282F39;
}
header .bottom_header .address .top-info .icon-box span:after {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	width: 1px;
	height: 100%;
	background: #CFCFD0;
}

 /*====================== Banner ===============*/
 .nav {
    margin-left: 0;
    margin-bottom: 1px;
    list-style: none;
}
 .banner {
	background: url(/web/20190130135839im_/http://www.peccu.org/images/banner.jpg) no-repeat center;
	height: 763px;
}
.banner .banner_opacity {
	background: rgba(0, 0, 0, 0.5);
	height: 763px;
	position: relative;
}

.mainmenu-area .nav_main_list,
.mainmenu-area .find-advisor {
   display: inline-block;
}
.mainmenu-area.stricky-fixed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 99999;
   background: #1F75BB;
}
.mainmenu-area.stricky-fixed nav>div a.advisor {
   position: relative;	
}
.mainmenu-area.stricky-fixed nav>div a.advisor:after {
   content: '';
   position: absolute;
   top: 0;
   left: 100%;
   width: 2000px;
   background: #BC9B6A;
   height: 100%;
   z-index: -1;
   transition: background .3s ease;
}
.mainmenu-area.stricky-fixed nav .find-advisor:hover a.advisor:after {
   background: #171B20;
}

.mainmenu-area {
	position: relative;
	z-index: 999;
}
.mainmenu-area .container {
	background: #1F75BB;
	padding: 0 5px;
	position: relative;
}
.mainmenu-area .container:before {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	content: '';
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.25);
	z-index: 9;
}
.mainmenu-area nav {
   position: relative;
}

.mainmenu-area nav > .nav_main_list ul li a {
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 0.9378em;
   color: #fff;
   display: block;
   text-transform: uppercase;
   padding: 0 24px;
   letter-spacing: .03em;
   line-height: 29px;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.mainmenu-area nav> .nav_main_list ul li:hover > a {
   color: #323232;
}
.mainmenu-area .find-advisor {
   background: #BC9B6A;
   position: relative;
   margin-right: -5px;
   transition: all .3s ease;
}
.mainmenu-area .find-advisor:hover,
.mainmenu-area .find-advisor:hover:before {
   background: #171b20;
}
.mainmenu-area .find-advisor:hover a.advisor {
   color: #fff;
}
.mainmenu-area .find-advisor a.advisor {
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 1.125em;
   color: #171b20;
   margin-left: 0;
   text-transform: uppercase;
   display: block;
   padding: 0 30px 0 17px;
   line-height: 65px;
   position: relative;
   z-index: 10;
   transition: all .3s ease;
}
.mainmenu-area .find-advisor:before {
   content: '';
   width: 75px;
   height: 100%;
   position: absolute;
   top:0;
   left: -32px;
   transform: skew(-45deg);
   background: #BC9B6A;
   transition: all .3s ease;
}
.mainmenu-area nav> .nav_main_list ul > li {
   position: relative;
   z-index: 99;
   padding: 18px 0;
}

.mainmenu-area nav ul li.arrow_down .fa-bars {
   display: none;
}
.mainmenu-area nav> .nav_main_list ul>li>.sub-menu a:before {
   content: '\f105';
   font-family: 'FontAwesome';
   padding-right:10px;	
}
.mainmenu-area nav> .nav_main_list ul>li .sub-menu li {
   padding: 0 25px;
   background: #fff;
}
.mainmenu-area nav> .nav_main_list ul > li .sub-menu ul li:first-child a {
   padding-top: 16px;
}
.mainmenu-area nav> .nav_main_list ul>li .sub-menu li:last-child a {
   padding-bottom: 16px;
}
.mainmenu-area nav> .nav_main_list ul>li .sub-menu a:hover {
   color: #BC9B6A;
}
.mainmenu-area nav> .nav_main_list ul>li .sub-menu a {
   font-weight: 400;
   border-bottom: 1px solid #EBEBEB;
   margin: 0;
   padding: 5px 0px;
   letter-spacing: .03em;
   font-size: 13px;
   text-transform: uppercase;
   color: #242424;
   font-family: 'Open Sans';

   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.mainmenu-area nav> .nav_main_list ul>li>.sub-menu li:last-child a {
   border:none;
}
.mainmenu-area nav> .nav_main_list ul>li>.sub-menu:before {
   content: '';
   background: url(/web/20190130135839im_/http://www.peccu.org/images/menu-arrow.png) no-repeat;
   width: 28px;
   height: 13px;
   position: absolute;
   top: 10px;
   left: 45px;	
}
.mainmenu-area nav> .nav_main_list ul>li>.sub-menu {
   position: absolute;
   /*border-top:1px solid  rgba(255, 255, 255, 0.25);*/
   width:240px;
   padding-top: 20px;
   top:200%;
   opacity: 0;
   visibility: hidden;
}
.mainmenu-area nav> .nav_main_list ul>li>.sub-menu ul {
   -webkit-box-shadow: 0 0 16px rgba(0,0,0, .11);
   box-shadow: 0 0 16px rgba(0,0,0, .11);
}
.mainmenu-area nav> .nav_main_list ul>li>.sub-menu-width-fix {
   width:212px;
}
/*.mainmenu-area nav>div>ul>li.arrow_down:after {
   content: '\f0d8';
   font-family: 'FontAwesome';
   position: absolute;
   bottom: 0;
   color: #fff;
   left: 0;
   width: 100%;
   font-size: 33px;
   text-align: center;
   line-height: 13px;
   display: none;
}*/
/*.mainmenu-area nav>div>ul>li.arrow_down:hover{
   background:url(/web/20190130135839im_/http://www.peccu.org/images/nav-bg.png) no-repeat bottom center;
   z-index: 9999;
}
.mainmenu-area nav>div>ul>li.arrow_down:hover:after {
   display: block;
}*/
.mainmenu-area nav> .nav_main_list ul>li:hover .sub-menu {
   visibility: visible;
   opacity: 1;
   top:100%;
   left:0px;
   -webkit-transition: all 0.4s cubic-bezier(0.84, 0.35, 0.39, 0.74);
   -o-transition: all 0.4s cubic-bezier(0.84, 0.35, 0.39, 0.74);
   transition: all 0.4s cubic-bezier(0.84, 0.35, 0.39, 0.74);
}

.mainmenu-area nav> .nav_main_list ul>li>a {
 border-right: 1px dashed rgba(255, 255, 255, 0.4);
}
.mainmenu-area nav > div > ul > li:last-child > a {
 border-right: 0px dashed rgba(255, 255, 255, 0.4);
}

.mainmenu-area nav> .nav_main_list ul a:hover,
.mainmenu-area nav> .nav_main_list ul a:focus {
   background: transparent;
}
.banner .banner_info {
   padding-top: 222px;
   margin-left: 380px;
   text-align: left;
}
.banner .banner_info h1 {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 2.812em;
   color:#fff;
   position: relative;
}
.banner .banner_info h1:before {
   content: '';
   width:113px;
   height:3px;
   background: #BC9B6A;
   position: absolute;
   bottom: -19px;
   left: 2px;
}
.banner .banner_info p {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-style: italic;
   font-size: 1.25em;
   color:#fff;
   padding-top: 42px;
}
.banner .banner_info a {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 0.875em;
   text-transform: uppercase;
   border-radius: 3px;
   display: inline-block;
	  margin-top: 35px;
	  position: relative;
}
.banner .banner_info a:nth-child(3) {
   background: #BC9B6A;
   color:#282f39;
   padding: 15px 15px 15px 28px;
}
.banner .banner_info a:nth-child(3) i {
   padding-left: 43px;
   color: #282f39;
   font-size: 1.25em;
}
.banner .banner_info a:nth-child(3):hover,
.banner .banner_info a:nth-child(3):hover i {
   color:#fff;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.banner .banner_info a:nth-child(4) {
   background: #1F75BB;
   color:#fff;
   padding: 15px 13px 15px 20px;
   margin-left: 25px;
}
.banner .banner_info a:nth-child(4) i {
   padding-left: 35px;
   color: #fff;
   font-size: 1.25em;
}
.banner .banner_info a:nth-child(4):hover,
.banner .banner_info a:nth-child(4):hover i {
   color: #282f39;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.banner .banner_info a:nth-child(3)::before {
   content: '';
   width:1px;
   height:28px;
   background: #d7a41b;
   position: absolute;
   right: 44px;
   top: 12px;
}
.banner .banner_info a:nth-child(3)::after {
   content: '';
   width:1px;
   height:28px;
   background: #ffcd47;
   position: absolute;
   right: 43px;
   top: 12px;
}
.banner .banner_info a:nth-child(4)::before {
   content: '';
   width:1px;
   height:28px;
   background: #0b8391;
   position: absolute;
   right: 44px;
   top: 12px;
}
.banner .banner_info a:nth-child(4)::after {
   content: '';
   width:1px;
   height:28px;
   background: #21b3c5;
   position: absolute;
   right: 43px;
   top: 12px;
}
/*------about_us Banner---*/
.about_banner {
   background:url(/web/20190130135839im_/http://www.peccu.org/images/about/banner-bg.jpg) no-repeat center;
   height:325px;
   margin-top: -65px;
}
.about_banner_opacity {
   background: rgba(0, 0, 0, 0.6);
   height:326px;
   position: relative;
}
.banner_info_about {
   text-align: center;
   padding-top:120px;
}
.banner_info_about h1 {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 2.81em;
   color:#fff;
   position: relative;
}
.banner_info_about h1:before {
   content: '';
   width:60px;
   height:3px;
   background: #BC9B6A;
   position: absolute;
   bottom: -14px;
   right: 47.5%;
}
.banner_info_about ul {
   padding: 0px;
}
.banner_info_about ul li {
   display: inline-block;
   margin-left: 3px;
   margin-top: 25px;
}
.banner_info_about ul li i {
   color:#fff;
}
.banner_info_about ul li a,
.banner_info_about ul li {
   font-family: 'Open Sans', sans-serif;
   font-style: italic;
   font-size: 0.875em;
   color: #fff;
   font-weight: 600;
   letter-spacing: .03em;
}
.banner_info_about ul li a {
   font-size: 1em !important;
}