/*----- Header----*/

header .top_header {
	background: url(../../../assets/images/top-header.png) no-repeat center;
	height:49px;
}
header .top_header p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #7f8997;
	padding: 0;
	margin: 0;
	line-height: 50px;
}
header .top_header ul {
	margin: 0;
}
header .top_header ul li {
	display: inline-block;
	padding-left: 16px;
	line-height: 50px;
}
 header .top_header ul li i,
 header .top_header ul li span {
 	color: #7f8997;
 	display: block;
 }
 header .top_header ul li i:hover,
 header .top_header ul li i:focus {
 	color:#026992;
 }
 header .top_header ul li button {
 	background: transparent;
 	width:30px;
 	height:30px;
 	border:1px solid #545a61;
 	border-radius: 50%;
 }
 .top_header #search_box input {
	background: transparent;
	border:1px solid #939393;
	display: none;
	color: #fff;
	padding-left:10px;
	height:30px;
	line-height: 28px;
	font-size: 14px;
}
.top_header #search_box input:focus {
	outline: none;
}
 header .bottom_header .logo .logo_text p:nth-child(1) {
 	font-family: 'Raleway', sans-serif;
 	font-weight: 800;
 	font-size: 2em;
 	color: #1c1a21;
 	display: inline-block;
 	padding-top: 44px;
    position: relative;
 }
 header .bottom_header {
 	padding: 28px 0;
 }
 header .bottom_header .logo {
 	line-height: 57px;
 }
 header .bottom_header .address p {
 	display: inline-block;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 0.875em;
 	color: #232932;
 	margin: 0;
 }
 header .bottom_header .address p>span {
 	color : #9692a0;
 }
 header .bottom_header .address>span{
 	color: rgba(40, 47, 57, 0.7);
 	font-size: 1.875em;
 	padding-right:18px;
 	margin-left: 42px;
 }
 header .bottom_header .address>span.separator {
    border-left: 1px solid #F7F7F9;
    padding-left: 25px;
    margin-left: 20px;
    position: relative;
}
header .bottom_header .address>span.separator:after {
content: '';
position: absolute;
left: -1px;
top: 0;
width: 1px;
height: 100%;
background: #D0D0D0;
}
header .bottom_header .address .top-info {
	display: inline-block;
	padding-left: 20px;
}
header .bottom_header .address .top-info:first-child {
	padding-left: 0;
}
header .bottom_header .address .top-info:first-child .icon {
	padding-left: 0;
	border: none;
}
header .bottom_header .address .top-info:first-child .icon:after {
	display: none;
}
header .bottom_header .address .top-info .icon-box,
header .bottom_header .address .top-info .content-box {
	display: table-cell;
	vertical-align: middle;
}
header .bottom_header .address .top-info .icon-box {
	padding-right: 20px;
}
header .bottom_header .address .top-info .icon-box span {
	font-size: 30px;
	border-left: 1px solid #F6F6F7;
	padding-left: 25px;
	position: relative;
	color: #282F39;
}
header .bottom_header .address .top-info .icon-box span:after {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	width: 1px;
	height: 100%;
	background: #CFCFD0;
}

