        <!-- ======= Banner ======= -->
        <section class="p0 container-fluid banner about_banner_membership">
            <div class="about_banner_opacity">
                <div class="container">
                    <div class="banner_info_about">
                        <h1>PECCU Membership</h1>
                        <ul class="breadcrumbs">
                            <li><a routerLink="">PECCU Membership</a></li>
                        </ul>
                    </div>
                    <!-- End Banner Info -->
                </div>
                <!-- End Container -->
            </div>
            <!-- End Banner_opacity -->
        </section>
        <!-- End Banner -->
        <!-- ================= /Banner ================ -->

                <!-- =============== blog container ============== -->
                <article class="blog-container faqs_sec blog-two">
                    <!-- faqs_sec use for style side content -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 white-left right-side ptb-13">
            
                <!-- .single-blog-post -->
                <div class="single-blog-post">
                    <!-- .img-holder -->
                    <div class="img-holder">
                        <img src="../../../assets/images/partner-background.png" alt="How to become a member">
                    </div>
                    <!-- /.img-holder -->
                    <!-- .post-meta -->
                    <div class="post-meta">
                        <div class="title-holder">
                            <h2 class="title">How to become a member</h2>
                        </div>
                    </div>
                    <!-- /.post-meta -->
                    <!-- .content -->
                    <div class="content">
                        
                        <p> This is an official request for everyone to join us and enjoy all the benefi ts we off er. We take pride in saying we are one of the best
                            credit unions in Cameroon. With 30 years of expertise and services, we are sure every new member will feel secured into our organisation.
                            Our conditions are listed below. Our offices are opened for anyone who requires more clarifications or information about other opportunities
                            with PECCU.
                        </p>
                        <p> We have listed below in detail what you would need to become a member of PECCU. However, if you would like to find out more, visit our
                            website www.peccu.org or visit our offices at Bonanjo, Douala.</p>
                    </div>
                    <!-- /.content -->
                </div>
                <ul>
                    <li><i class="fa fa-check-square-o"></i>A photocopy of identity card/ passport
                    </li>
                    <li><i class="fa fa-check-square-o"></i>Two passport sized photographs,
                    </li>
                    <li><i class="fa fa-check-square-o"></i>A copy of your water/ electricity bills,
                    </li>
                    <li><i class="fa fa-check-square-o"></i>Photocopy of last three months’ pay slips, Fill a PECCU membership application form, and pay the following:
                    </li>
                    <li><i class="fa fa-check-square-o"></i>50,000 FCFA Entrance fees.
                    </li>
                    <li><i class="fa fa-check-square-o"></i>100,000 FCFA Ordinary shares, refundable
                    </li>
                    <li><i class="fa fa-check-square-o"></i>40,000 FCFA Solidarity fund.
                    </li>
                    <li><i class="fa fa-check-square-o"></i>200,000FCFA building fee (payable in 20 instalments of 10,000×20)
                    </li>
                    <li><i class="fa fa-check-square-o"></i>25,000 FCFA minimum savings every month</li>
                    <div class="content">
                        
                    </div>
                </ul>
            
            
        
                            </div>
                            <!-- End right-side -->
                            <div class="col-lg-4 col-md-4 col-sm-12 left_side blog_right_container">
            <!-- Left Side -->
            <h4>Search</h4>
            <form action="#">
                <input type="text" placeholder="Enter Search Keywords">
                <button type="submit"><span class="icon icon-Search"></span>
                </button>
            </form>
            <h4>Quick Links</h4>
            <ul class="p0 category_item">
                <li><a routerLink="about/women"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;PECCU Women</a>
                </li>
                <li><a routerLink="about/bod"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Board of Directors</a>
                </li>
                <li><a routerLink="about/csr"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Corporate Social Responsibility</a>
                </li>
                <li><a routerLink="about/regulations"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Regulatory Information</a>
                </li>
                <li><a routerLink="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Loans</a>
                </li>
                <li><a routerLink="#" class="bottom_item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Savings</a>
                </li>
            </ul>
            <h4>Latest</h4>
            <ul class="p0 post_item">
                <li>AUG 12,2016<a routerLink="/schoolloans">Ongoing School Fee Loans! ...</a>
                </li>
                <li>FEB 02,2016<a routerLink="peccu30years">Pecten Employees Coorperative Credit Union Celebrates 30 Years of Great Achievement ...</a>
                </li>
                <li>AUG 12,2015<a href="#" class="bottom_item">Making Cents Investments in Start-ups become profitable for Companies ...</a>
                </li>
            </ul>
        </div>
                            <!-- End left side -->
                        </div>
                        <!-- End row -->
                    </div>
                </article>
                
                <!-- =============== /blog container ============== -->
                
                <!-- ============ free consultation ================ -->
                <section class="container-fluid consultation">
                    <div class="container text-center">
                        <p>If you have any querry for loans or interest rates ... We are available</p>
                        <a routerLink="/contact">Contact us <i class="fa fa-arrow-circle-right"></i></a> </div>
                </section>
                <!-- End consultation -->
                <!-- ============ /free consultation ================ -->