        <!-- ======= Banner ======= -->
        <section class="p0 container-fluid banner about_banner_services">
            <div class="about_banner_opacity">
                <div class="container">
                    <div class="banner_info_about">
                        <h1>Services</h1>
                        <ul class="breadcrumbs">
                            <li><a routerLink="/home">Welcome to PECCU</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;<a href="/web/20190725221918/http://www.peccu.org/about">About Us</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;<a href="/web/20190725221918/http://www.peccu.org/services/index.html">Services</a></li>
                        </ul>
                    </div>
                    <!-- End Banner Info -->
                </div>
                <!-- End Container -->
            </div>
            <!-- End Banner_opacity -->
        </section>
        <!-- End Banner -->
        <!-- ================= /Banner ================ -->

        <section class="side_tab">
            <div class="container">
                <div class="row">
                    <div class="white_bg right_side col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
                        <div class="tab_details">
                            <!-- Tab panes -->
                            <div class="tab-content right_info">
                                
                                <div class="tab-pane fade row" id="shares">
                                    <h2>Ordinary Shares Account</h2>
                                    <img class="img-responsive" src="../../../assets/images/ordinary-shares.png" alt="PECCU - Ordinary Shares Account">
                                    <img class="img-responsive hidden-sm hidden-xs" src="/web/20190725221918im_/http://www.peccu.org/images/service/shares-account.jpg" alt="PECCU - Ordinary Shares Account">
                                    <p></p>
                                    <p>This type of shares qualifies you, a joint owner of PECCU along with other members, and gives you the right to vote
                                        and to be voted as a Board member or committee member of PECCU at the Annual General Meeting. This shares account
                                        yield interest, but jointly calculated with interest on savings payable at the end of each year. </p>
                                    <h2>Variable shares</h2>
                                    <p>This type of shares is same like Ordinary shares, but available to members who would like to increase their shareholding
                                        in PECCU.</p>
                                </div>
                                <div class="tab-pane fade in row" id="rps">
                                    <h2>Redeemable Preference Shares</h2>
                                    <img class="img-responsive" src="/web/20190725221918im_/http://www.peccu.org/images/rps.jpg" alt="PECCU - Redeemable Preference Shares">
                                    <img class="img-responsive hidden-sm hidden-xs" src="/web/20190725221918im_/http://www.peccu.org/images/service/rps.jpg" alt="PECCU - Redeemable Preference Shares">
                                    <p></p>
                                    <p>This type of shares yields interest, One RPS is 1,500,000FCFA. Maturity period for RPS investment is 10 years minimum
                                        with fixed interest rate of 3% per annum.
                                    </p>
                                </div>
                                <div class="tab-pane fade row" id="savings">
                                    <h2>Savings Account</h2>
                                    <img class="img-responsive" src="/web/20190725221918im_/http://www.peccu.org/images/savings.jpg" alt="PECCU - Savings Account">
                                    <img class="img-responsive hidden-sm hidden-xs" src="/web/20190725221918im_/http://www.peccu.org/images/service/savings.jpg" alt="PECCU - Savings Account">
                                    <p></p>
                                    <p>For a member to be considered active and regular in PECCU he or she must save at least 25,000FCFA per month. Prompt
                                        cash Withdrawals from savings accounts attract a charge of 5%, except a member gives a notice to withdraw from
                                        savings. (501,000 to 5 million one month notice, from 5 million to 10 million two months’ notice, from 10 million
                                        above three months’ notice).</p>
                                </div>
                                <div class="tab-pane fade row" id="deposits">
                                    <h2>Deposit / Current Account</h2>
                                    <img class="img-responsive" src="/web/20190725221918im_/http://www.peccu.org/images/deposits.jpg" alt="PECCU - Deposit / Current Account">
                                    <img class="img-responsive hidden-sm hidden-xs" src="/web/20190725221918im_/http://www.peccu.org/images/service/deposits.jpg" alt="PECCU - Deposit / Current Account">
                                    <p></p>
                                    <p>This account does not bear interest; it helps members build up financial resources for short and medium term needs.
                                        Cash withdrawals from deposits accounts do not attract charges, except annual charges of 5000 FRS.
                                    </p>
                                </div>
                                <div class="tab-pane fade row" id="t-deposits">
                                    <h2>Term Deposits</h2>
                                    <img class="img-responsive" src="/web/20190725221918im_/http://www.peccu.org/images/term-deposits.jpg" alt="PECCU - Term Deposits">
                                    <img class="img-responsive hidden-sm hidden-xs" src="/web/20190725221918im_/http://www.peccu.org/images/service/term-deposits.jpg" alt="PECCU - Term Deposits">
                                    <p></p>
                                    <p>Members who do not like to presently use their savings and money kept in different accounts or held in other financial
                                        institutions; are advised to transform it into term deposit against a certificate of deposit for an attractive
                                        annual interest rate of 5%. </p>
                                </div>
                                <div class="tab-pane fade row" id="credit-line">
                                    <h2>Line of credit for business accounts</h2>
                                    <img class="img-responsive" src="/web/20190725221918im_/http://www.peccu.org/images/line-of-credit.jpg" alt="PECCU - Line of credit for business accounts">
                                    <img class="img-responsive hidden-sm hidden-xs" src="/web/20190725221918im_/http://www.peccu.org/images/service/line-of-credit.jpg" alt="PECCU - Line of credit for business accounts">
                                    <p></p>
                                    <p>To obtain this loan, a member is required to have 10% of the loan in savings account. Member is expected to increase
                                        savings every month. Interest rate 11.3% per annum, tax free on loan.</p>
                                </div>
                                <div class="tab-pane fade row" id="hpl">
                                    <h2>Building or House Purchase</h2>
                                    <img class="img-responsive" src="/web/20190725221918im_/http://www.peccu.org/images/hpl.jpg" alt="PECCU - Building or House Purchase">
                                    <img class="img-responsive hidden-sm hidden-xs" src="/web/20190725221918im_/http://www.peccu.org/images/service/hpl.jpg" alt="PECCU - Building or House Purchase">
                                    <p></p>
                                    <p>To obtain this loan, a member is required to have 20% of the loan in the savings account as down payment, amongst others
                                        at an Interest rate of 6.5% per annum, tax free for any amount above 20million. For any amount below 20 Million
                                        the interest rate is 8.1% per annum tax free.</p>
                                </div>
                                <div class="tab-pane fade row" id="other">
                                    <h1>Other Products and Services</h1>
                                    <img class="img-responsive" src="/web/20190725221918im_/http://www.peccu.org/images/other-products.jpg" alt="PECCU - Other Products and Services">
                                    <img class="img-responsive hidden-sm hidden-xs" src="/web/20190725221918im_/http://www.peccu.org/images/service/other-products.jpg" alt="PECCU - Other Products and Services">
                                    <p></p>
                                    <h2>Education or school fees loans</h2>
                                    <p>Savings in account 20% of loan amount. Interest rate of 8.1% per annum tax free.</p>
                                    <h2>Financing of export trade
                                        and domiciliation of export
                                        by line of Credit.</h2>
                                    <p></p>
                                    <h2>Clearing and discounting of
                                        cheques and bills issued by
                                        reputable companies</h2>
                                    <p></p>
                                    <h2>Customs clearance support</h2>
                                    <p></p>
                                    <h2>Agricultural loans</h2>
                                    <p>PECCU agriculture loan scheme is particularly for registered groups carrying out agricultural activities of different
                                        value chains (production, transformation, and commercialization).
                                    </p>
                                    <h2>PECCU Cheque</h2>
                                    <p>To ease cash withdrawals at a distance by ordering a third party to do withdrawals on your behalf.</p>
                                    <h2>Buying and Servicing of
                                        External debts from local
                                        financial institutions or
                                        Banks</h2>
                                    <p></p>
                                    <h2>Payment of salaries of
                                        companies</h2>
                                    <p></p>
                                    <h2>Express loans to members</h2>
                                    <p></p>
                                    <h2>Golden Loan</h2>
                                    <p>This is 'huge loan' for projects.
                                    </p>
                                    <h2>Christmas Savings Account</h2>
                                    <p>To ease members from end of year financial stress, PECCU operates a Christmas Savings Account whereby members save
                                        regularly and withdraw from it first week of December. These savings earn interest at 2%.</p>
                                    <h2>OTHER SERVICES</h2>
                                    <p>Other services we offer are done through partnership. A good example is our partnership with UBA Bank to offer PECCU
                                        BRANDED VISA CARD SERVICES. This requires an upfront Payment of 13,000 FCFA to get a card (Zero VAT). There is
                                        an annual Charge of 8,000 FCFA (Zero VAT) and a withdrawing charge of 500 FCFA from any local ATM per transaction
                                        and Zero charge for withdrawal within UBA ATM. You can also make an international withdrawal, which will cost you
                                        2,500 FCFA per transaction.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- End tab_details -->
                        <div class="market_strategy">
							<div class="market_title_holder float_left">
								<h3>Products and Services</h3>
                                <p>Use the tabs on the left to browse through the various products of PECCU.</p>
								<p>PECCU is an affiliate of the Cameroon Co-operative Credit Union League (CamCCUL), which is the oldest and largest federation of Credit Unions in Cameroon. CamCCUL is an umbrella organization belonging to its members and provides services such as education and training, management control through regular and periodic auditing, representation, Investment services and advice, etc to the members. CamCCUL is registered and recognized in the Ministries of Agriculture, the Economy and Finance (Decision No. 00395/MINEFI of August 20, 2001) and, by COBAC under decision No. D-2001/05, code No. 19419 of January 11, 2001. PECCU being affiliated to and controlled by CamCCUL, is therefore automatically accredited by the same bodies mentioned above to perform savings and credit activities in accordance with the Micro Finance Laws and Regulations in Cameroon. </p>
							</div>
                            <img class="img-responsive float_right" src="/web/20190725221918im_/http://www.peccu.org/images/service/12.jpg" alt="">
						</div>
                    </div>
                    <!-- End white_bg -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left left_side_bar">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <!-- 'tabs-right' for right tabs -->
                            <li><a href="#shares" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Shares Account</a>
                            </li>
                            <li><a href="#rps" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Redeemable Preference Shares</a>
                            </li>
                            <li><a href="#savings" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Savings</a>
                            </li>
                            <li><a href="#deposits" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Deposit / Current Account</a>
                            </li>
                            <li><a href="#t-deposits" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Term Deposits</a>
                            </li>
                            <li><a href="#credit-line" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Line of Credit</a>
                            </li>
                            <li><a href="#hpl" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Building or House Purchase
                                loan</a>
                            </li>
                            <li><a href="#other" data-toggle="tab"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Other Products and Services</a>
                            </li>
                        </ul>
                        <div class="advisor_side">
                            <h3>PECCU Brochure </h3>
                            <a href=""><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;&nbsp;Download Brochure PDF</a>
                        </div>
                        <!-- End Advisor profilr & Download option-->
                    </div>
                </div>
                <!-- End row -->
            </div>
            <!-- End container -->
        </section>
    
    

        <!-- ============ free consultation ================ -->
        <section class="container-fluid consultation">
            <div class="container text-center">
                <p>If you have any querry for loans or interest rates ... We are available</p>
                <a href="/web/20190725221918/http://www.peccu.org/contact">Contact us <i class="fa fa-arrow-circle-right"></i></a> </div>
        </section>
        <!-- End consultation -->
        <!-- ============ /free consultation ================ -->