<!-- ======= Who We Are ======= -->
<section class="we_are">
    <div class="left_side float_left">
        <div class="we_are_opacity">
            <div class="we_are_border">
                <h2>Est. since 1986</h2>
            </div>
        </div>
    </div>
    <!-- End Left_Side -->
    <div class="right_side float_right">
        <div class="we_are_deatails">
            <h2>Who We Are</h2>
            <p>PECCU is a financial Co-operative Credit Union owned and managed by its members. It was founded by the Employees of PECTEN CAMEROON
                COMPANY. It's first registration was in 1986 and re-gistered in 2001 under Decision N°00395/MINIFI, and the Banking Commission
                for Central African States (COBAC) under Decision N°D-2001/05 - Code N°19419.
                <br>
                <br> PECCU is affliliated to the Cameroon Co-operative Credit Union Leaque (CamCCUL). </p>
            <div class="list_item"> <img src="../../../assets/images/icon-1.png" alt="icon-1">
                <p>Dedicated
                    <br> Team
                </p>
                <img src="../../../assets/images/icon-2.png" alt="icon-2">
                <p>Attractive
                    <br> interests rates</p>
                <img src="../../../assets/images/icon-3.png" alt="icon-3">
                <p class="support">Quick
                    <br> response time</p>
            </div>
        </div>
    </div>
    <!-- End right_side -->
</section>
<!-- End We Are -->
<!-- ======= /Who We Are ======= -->