<!-- ======= Banner ======= -->
<section class="p0 container-fluid banner about_banner">
    <div class="about_banner_opacity">
        <div class="container">
            <div class="banner_info_about">
                <h1>About Board of Directors</h1>
                <ul class="breadcrumbs">
                    <li><a routerLink="/home">Welcome to PECCU</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;<a routerLink="/about">About Us</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;<a routerLink="about/bod">About Board of Directors</a></li>
                </ul>
            </div>
            <!-- End Banner Info -->
        </div>
        <!-- End Container -->
    </div>
    <!-- End Banner_opacity -->
</section>
<!-- End Banner -->
<!-- ================= /Banner ================ -->

<!-- ========== Meet Our Advisors ============ -->
<section class="our_advisor_inner_sec">
    <div class="container">
        <div class="row advisor_inner_title">
            <h2>Meet the Board of Directors of PECCU</h2>
            <p>Our board is elected to act as, representatives of the shareholders to establish corporate management, robust financial control policies
                and to make decisions on major PECCU issues on behalf the shareholders they represent.</p>
        </div>
    </div>
    <div class="container-fluid">
        <!-- For background-color -->
        <div class="container">
            <div class="row advisor_profile caption-style-3">
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Fon-Akenji.jpg" alt="Fon Akenji - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Fon Akenji - PECCU Member">
                            <h4>Fon Akenji</h4>
                            <span>President</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur">
                            <div class="border"></div>
                        </div>
                        <div class="caption-text">
                            <a href="#" title="Fon Akenji - PECCU Member">
                                <h4>Fon Akenji</h4>
                                <span>President</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Votmia-Fomantum.jpg" alt="Eric Votmia Fomantum - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Eric Votmia Fomantum - PECCU Member">
                            <h4>Eric Votmia Fomantum</h4>
                            <span>Vice President</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur">
                            <div class="border"></div>
                        </div>
                        <div class="caption-text">
                            <a href="#" title="Eric Votmia Fomantum - PECCU Member">
                                <h4>Eric Votmia Fomantum</h4>
                                <span>Vice President</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Rose-Oben.jpg" alt="Rose Oben - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Rose Oben - PECCU Member">
                            <h4>Rose Oben</h4>
                            <span>Board Secretary</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur">
                            <div class="border"></div>
                        </div>
                        <div class="caption-text">
                            <a href="#" title="Rose Oben - PECCU Member">
                                <h4>Rose Oben</h4>
                                <span>Board Secretary</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Jacqui-Patcha.jpg" alt="Jacqui Patcha - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Jacqui Patcha - PECCU Member">
                            <h4>Jacqui Patcha</h4>
                            <span>Credit Committee Chair and Board Member</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur">
                            <div class="border"></div>
                        </div>
                        <div class="caption-text">
                            <a href="#" title="Jacqui Patcha - PECCU Member">
                                <h4>Jacqui Patcha</h4>
                                <span>Credit Committee Chair and Board Member</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Enoh-Bate.jpg" alt="Enoh Bate - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Enoh Bate - PECCU Member">
                            <h4>Enoh Bate</h4>
                            <span>Project Committee Chair and Board Member</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur">
                            <div class="border"></div>
                        </div>
                        <div class="caption-text">
                            <a href="#" title="Enoh Bate - PECCU Member">
                                <h4>Enoh Bate</h4>
                                <span>Project Committee Chair and Board Member</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Rosaline-Fumfon.jpg" alt="Rosaline Fumfon - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Rosaline Fumfon - PECCU Member">
                            <h4>Rosaline Fumfon</h4>
                            <span>Board Member</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur">
                            <div class="border"></div>
                        </div>
                        <div class="caption-text">
                            <a href="#" title="Rosaline Fumfon - PECCU Member">
                                <h4>Rosaline Fumfon</h4>
                                <span>Board Member</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Richard-Meliko.jpg" alt="Richard Meliko - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Richard Meliko - PECCU Member">
                            <h4>Richard Meliko</h4>
                            <span>Credit Committee Chair</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur">
                            <div class="border"></div>
                        </div>
                        <div class="caption-text">
                            <a href="#" title="Richard Meliko - PECCU Member">
                                <h4>Richard Meliko</h4>
                                <span>Credit Committee Chair</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Augustine-Che.jpg" alt="Augustin Che - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Augustin Che - PECCU Member">
                            <h4>Augustin Che</h4>
                            <span>BOD Adviser</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur">
                            <div class="border"></div>
                        </div>
                        <div class="caption-text">
                            <a href="#" title="Augustin Che - PECCU Member">
                                <h4>Augustin Che</h4>
                                <span>BOD Adviser</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End BOD row -->
            <div class="row advisor_profile caption-style-3">
                <h2 class="sbod">Supervisory Board</h2>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Dinka-Elvira.jpg" alt="Elvira Dinka - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Elvira Dinka - PECCU Member">
                            <h4>Elvira Dinka</h4>
                            <span>Supervisory Board Chair</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur"><div class="border"></div></div>
                        <div class="caption-text">
                            <a href="#" title="Elvira Dinka - PECCU Member">
                                <h4>Elvira Dinka</h4>
                                <span>Supervisory Board Chair</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Kedonko-Jean-Pierre.jpg" alt="Jean Pierre Kedonko - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Jean Pierre Kedonko - PECCU Member">
                            <h4>Jean Pierre Kedonko</h4>
                            <span>Supervisory Board Member</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur"><div class="border"></div></div>
                        <div class="caption-text">
                            <a href="#" title="Jean Pierre Kedonko - PECCU Member">
                                <h4>Jean Pierre Kedonko</h4>
                                <span>Supervisory Board Member</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 profile">
                    <img class="img-responsive" src="/web/20190723022401im_/http://www.peccu.org/images/bod/Tchankoue-Line.jpg" alt="Line Tchankoue - PECCU Member">
                    <div class="caption_bg">
                        <a href="#" title="Line Tchankoue - PECCU Member">
                            <h4>Line Tchankoue</h4>
                            <span>Supervisory Board Member</span>
                        </a>
                        <p>..</p>
                        <ul style="display:none">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="caption">
                        <div class="blur"><div class="border"></div></div>
                        <div class="caption-text">
                            <a href="#" title="Line Tchankoue - PECCU Member">
                                <h4>Line Tchankoue</h4>
                                <span>Supervisory Board Member</span>
                            </a>
                            <p style="display:none">..</p>
                            <ul style="display:none">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End SBOD row -->
        </div>
        <!-- End container -->
    </div>
    <!-- End container-fluid -->
</section>
<!-- ========== /Meet Our Advisors ============ -->

 <!-- ============ free consultation ================ -->
 <section class="container-fluid consultation">
    <div class="container text-center">
        <p>If you have any querry for loans or interest rates ... We are available</p>
        <a routerLink="contact">Contact us <i class="fa fa-arrow-circle-right"></i></a> </div>
</section>
<!-- End consultation -->
<!-- ============ /free consultation ================ -->