
<!-- =======Header ======= -->
<div class="container-fluid top_header bg-dark">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-sm-fluid">
      <p class="float_left text-grey">PECCU turns 30 this year. Join us to celebrate 30 years of excellence!</p>
      </div>
      <div class="col-sm-center">
      <div class="float_right">
        <ul>
          <li style="display:none"><a href=""><i class="fa fa-facebook"></i></a></li>
          <li style="display:none"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li style="display:none"><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li style="display:none"><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li>
            <div id="search_box" class="bg-black">
              <input id="search" type="text" placeholder="Search here">
              <button id="button" type="submit" class="btn-center"><span class="bi bi-search "></span></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
      </div>
    </div>
    <!-- end container -->
  </div>