@charset "UTF-8";
/* CSS Document */

.banner-h1 {
text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.75)!important;	
}
h1.blockquote-vision {
font-family:Georgia, serif;
font-style:italic;
line-height:130%;	
text-align:center;
}

.company-tab blockquote {
	border:0!important;
}

.we_are .right_side .list_item p {
    font-size: 0.895em;
}
.we_are .right_side .list_item p {
    margin-top: 3.8rem;
}  
.fa-check-square-o:before {
    padding-right: 15px;
}
ul {
 list-style: none;
 margin-left: 0;
 padding-left: 1em;
 text-indent: -1em;
 }
ul.breadcrumbs li {
    text-indent: 0em;
    
}
.p0 {
    text-indent: 0em;
}
nav ul {text-indent: 0em;}
.change-color {
 	    background: rgba(42, 58, 80, 0.91)!important;   
}

small.csr {
   font-size:50%; 
}
.blog-variation-container {
   text-align: left;
}

input,select,textarea {
   background-color:#fff;
   border:1px solid #ccc;
    outline:none;
    padding:7px 12px;
    border-radius:6px;
}

.col-lg-3.col-md-3.col-sm-6.profile {
 	min-height:345px;   
}
h2.sbod {
 	font-weight:700;
    margin-left:25px;
    margin-top:50px;
}

img.fullwidth {
    width:100%;
}
h1,h2,h3,h4,h5 {font-weight:700}

div.BlogRecentPost ul {
    margin-top: 15px;
    margin-bottom: 27px;
    margin-left: 20px;
}
div.BlogRecentPost ul li a {
	font-weight:400;
	font-size:1.2em!important;
}

#about-id section.some_facts {
 	background-color:#4C6273;   
}

.we_are .right_side .list_item p {
	    padding-left: 24px;
}
/*
     FILE ARCHIVED ON 05:53:34 Feb 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:12:05 Nov 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 63.352
  exclusion.robots: 0.131
  exclusion.robots.policy: 0.115
  cdx.remote: 0.092
  esindex: 0.013
  LoadShardBlock: 34.537 (3)
  PetaboxLoader3.datanode: 71.142 (5)
  load_resource: 187.319 (2)
  PetaboxLoader3.resolve: 120.082 (2)
*/