/*=========== Our Partners ===========*/
.partner_touch_sec {
	background: url(../../../assets/images/partner-background.png) no-repeat center;
	padding-top:75px;
	padding-bottom:100px;
}
.our_partner h2,
.get_touch h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.625em;
	color: #323232;
	position: relative;
}
.get_touch h2:before,
.our_partner h2:before {
	content: '';
	width:45px;
	height:3px;
	background: #BC9B6A;
	position: absolute;
	top: 40px;
    left: -2px;
}
.our_partner p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
	color:#898989;
	line-height: 25px;
	padding-top:45px;
}
.our_partner ul {
	padding:0;
	margin-top: 39px;
}
.our_partner ul li {
	display: inline-block;
	padding-left: 15px;
}
.get_touch form {
	border:8px solid #f7f7f9;
	background: #fff;
	padding:30px;
	margin-top:62px;
}
.get_touch form label.error {
	display: none !important;
}
.get_touch form input.error, .get_touch form textarea.error {
    border: 1px solid rgba(255,0,0,.3);
    background: rgba(255,0,0,.05);
}
.get_touch form input,
.get_touch form button.btn {
	height:46px;
	border: 1px solid #eaeaea;
	border-radius: 0px;
	background: #fff;
	color: #6c6c6c;
}
.get_touch form button.btn i {
	float:right;
	margin-top:5px;
}
.get_touch form button.btn {
	width:494px;
	text-align: left;
	outline: none !important;
}
.get_touch form ul li {
	font-size:1em;
	color:#9a9a9a;
	padding:6px 10px;
	margin:3px auto;
	cursor:pointer;
}
.get_touch form button.dropdown-toggle {
	background-color: #fff !important;
	color: #9a9a9a !important;
	box-shadow: none !important;
	border: 1px solid #eaeaea !important;
	border-radius: 0px;
}
.get_touch form ul {
	width:100%;
	border-radius: 0px;
	box-shadow: none !important;
}
.get_touch form input:not(.name),
.get_touch form button.btn {
	margin-top:20px;
}
.get_touch form button.submit {
	background: #1F75BB;
    color: #fff;
    margin-top: 30px;
}
.get_touch form button.submit i {
	border-left: 1px solid #42B8C9;
}
.get_touch form button.submit i:after {
	background: #0A8491;
}
.get_touch form button.submit {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 9px 0;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	line-height: 30px;
	padding-left: 27px;
	border-radius: 3px;
	padding-right: 9px;
	font-size: 14px;
	border: none;
	outline: none;
	letter-spacing: .03em;
	transition: all .3s ease;
}
.get_touch form button.submit i {
    padding-left: 15px;
    font-size: 1.25em;
    padding-right: 7px;
    vertical-align: middle;
    position: relative;
    margin-left: 20px;
    font-size: 16px;
    line-height: 28px;
    transition: all .3s ease;
}
.get_touch form button.submit i:after {
	content: '';
	width:1px;
	height:100%;
	position: absolute;
	left: -2px;
	top: 0;
	transition: all .3s ease;
}
.get_touch form button.submit:hover i {
	color: #282f39;
	border-color: #282f39;
}
.get_touch form button.submit:hover i:after {
	background: transparent;
}
.get_touch form button.submit:hover {
	background: #BC9B6A;
	color: #282f39;
}