/*===========Welcome section========*/
.welcome_sec {
	padding-top: 78px;
	background: #f7f8fa;
	/* height:756px; */
}

.welcome_sec h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 1.625em;
	color: #323232;
	text-transform: uppercase;
	position: relative;
	text-align: right;
	line-height: 32px;
	padding-right: 25px;
}

.welcome_sec h2:before {
	content: '';
	width: 4px;
	height:100%;
	background: #026992;
	position: absolute;
	letter-spacing: 1px;
    right: -16px;
    top: 4px;
}
.welcome_sec .welcome_heading p{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 1em;
	color: #898989;
	padding-left: 30px;
    padding-top: 16px;
    line-height: 26px;
}
.welcome_item {
	position: relative;	
}
.welcome_details {
	margin-top:80px;
}
.welcome_details img {
	background: #fff;
	padding:8px;
	position: absolute;
	z-index: 1;
	top: 14px;
}
.welcome_details .welcome_info {
	position: relative;
	width:77%;
	background: #fdfdfd;
	border: 1px solid #e6e6e6;
	margin-left: 52px;
    padding-top: 7px;
    padding-bottom: 24px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.welcome_details h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	color:#323232;
	padding-left: 66px;
}
.welcome_details h3:before {
	content: '';
	width:45px;
	height:3px;
	background: #BC9B6A;
	position: absolute;
	top: 61px;
}
.welcome_details p {
	font-family: 'Open Sans', sans-serif;
	color: #898989;
	padding-left: 66px;
	padding-right: 41px;
    padding-top: 13px;
}
.welcome_item_bottom {
	margin-top:29px;
}
.welcome_details .welcome_info:hover {
	background: #026992;
}
.welcome_details .welcome_info:hover h3{
	color: #fff;
}
.welcome_details .welcome_info:hover p {
	color: #e4e8e8;
}

/*=============Small business========*/
.small_business_sec {
	background: url(../../../assets/images/small-business-owner.png) no-repeat center;
	background-color: #23252a;
	height: 355px;
	position: relative;
}
.business_opacity {
	background: rgba(23, 29, 38, 0.5);
	height:max-content;
}
.small_business_sec .container {
	background: rgba(0, 0, 0, 0.45);
	height:355px;
	width:56%;
	padding-left: 58px;
}
.small_business_sec .container h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.562em;
	color: #fff;
	text-transform: uppercase;
	padding-top: 50px;
}
.small_business_sec .container p {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 1.125em;
	color:#fff;
	line-height: 25px;
	padding-top: 7px;
    width: 64%;
    padding-bottom: 13px;
}
.small_business_sec .container ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	color: #fff;
}
.small_business_sec .container ul li i {
	color:#fff;
	margin-right:12px;
}
.small_business_sec .container ul {
	display: inline-block;
}
.small_business_sec .container ul li {
	margin-top:9px;
}
.small_business_sec .container .list_two{
	padding-left:130px;
}

/* About-banner */
.about_banner {
	background:url(../../../assets/images/happy-birthday-022.png) no-repeat center;
	height:325px;
	margin-top: -65px;
  }