                    <!-- ======= revolution slider section ======= -->
                    <section class="rev_slider_wrapper me-fin-banner">
                        <div id="slider1" class="rev_slider" data-version="5.0">
                        <ul>
                            <li data-transition="fade"> <img src="/web/20190725223012im_/http://www.peccu.org/images/slides/happy-birthday-022.jpg" alt="">
                            <div class="tp-caption sfb tp-resizeme banner-h1" data-x="left" data-hoffset="0" data-y="top" data-voffset="290" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="500"> From humble<br> beginnings</div>
                            <div class="tp-caption sfb tp-resizeme banner-border" data-x="left" data-hoffset="0" data-y="top" data-voffset="400" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="800"> <span></span> </div>
                            <div class="tp-caption sfb tp-resizeme banner-text" data-x="left" data-hoffset="0" data-y="top" data-voffset="435" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1100">
                                <p>The Pecten Employee Co-orporative and Credit Union <br>
                                becomes a true example of WILL, GRIT and SUCCESS as they celebrate 30 years of excellence!</p>
                            </div>
                            <div class="tp-caption sfl tp-resizeme " data-x="left" data-hoffset="0" data-y="top" data-voffset="510" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1400"> <a class="banner-button" href="/web/20190725223012/http://www.peccu.org/about/legacy">Read our legacy<i class="fa fa-arrow-circle-right"></i></a> </div>
                            <div class="tp-caption sfr tp-resizeme " data-x="left" data-hoffset="580" data-y="top" data-voffset="510" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1700"> </div>
                            </li>
                            <li data-transition="fade"> <img src="/web/20190725223012im_/http://www.peccu.org/images/slides/1.jpg" alt="">
                            <div class="tp-caption sfb tp-resizeme banner-h1" data-x="left" data-hoffset="380" data-y="top" data-voffset="290" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="500"> 30 Years of supporting <br>
                                small business owners in Douala </div>
                            <div class="tp-caption sfb tp-resizeme banner-border" data-x="left" data-hoffset="380" data-y="top" data-voffset="400" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="800"> <span></span> </div>
                            <div class="tp-caption sfb tp-resizeme banner-text" data-x="left" data-hoffset="380" data-y="top" data-voffset="435" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1100">
                                <p>Members who are up to 6 months old in PECCU are entitled to a loan up to 1½ times shares.</p>
                            </div>
                            <div class="tp-caption sfl tp-resizeme " data-x="left" data-hoffset="380" data-y="top" data-voffset="510" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1400"> <a class="banner-button" href="/web/20190725223012/http://www.peccu.org/apply/loan">Contact Us <i class="fa fa-arrow-circle-right"></i></a> </div>
                            <div class="tp-caption sfr tp-resizeme " data-x="left" data-hoffset="580" data-y="top" data-voffset="510" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1700"> <a class="banner-button blue-bg" href="/web/20190725223012/http://www.peccu.org/legal/terms/loan">Terms Apply <i class="fa fa-arrow-circle-right"></i></a> </div>
                            </li>
                            <li data-transition="fade"> <img src="/web/20190725223012im_/http://www.peccu.org/images/slides/happy-birthday-011.jpg" alt="">
                            <div class="tp-caption sfb tp-resizeme banner-h1" data-x="left" data-hoffset="380" data-y="top" data-voffset="290" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="500"> </div>
                            <div class="tp-caption sfb tp-resizeme banner-border" data-x="left" data-hoffset="380" data-y="top" data-voffset="400" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="800" style="display:none"> <span></span> </div>
                            <div class="tp-caption sfb tp-resizeme banner-text" data-x="left" data-hoffset="380" data-y="top" data-voffset="435" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1100"> </div>
                            <div class="tp-caption sfl tp-resizeme " data-x="left" data-hoffset="380" data-y="top" data-voffset="510" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1400"> </div>
                            <div class="tp-caption sfr tp-resizeme " data-x="left" data-hoffset="580" data-y="top" data-voffset="510" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1700"> </div>
                            </li>
                            <li data-transition="fade"> <img src="/web/20190725223012im_/http://www.peccu.org/images/slides/2.jpg" alt="">
                            <div class="tp-caption sfb tp-resizeme banner-h1" data-x="left" data-hoffset="0" data-y="top" data-voffset="290" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="500"> Hassle-free payroll services <br>
                                for businesses who care about their staff. </div>
                            <div class="tp-caption sfb tp-resizeme banner-border" data-x="left" data-hoffset="0" data-y="top" data-voffset="400" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="800"> <span></span> </div>
                            <div class="tp-caption sfb tp-resizeme banner-text" data-x="left" data-hoffset="0" data-y="top" data-voffset="435" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1100">
                                <p>An easy way to pay your staff and give them direct access to frequent savings.</p>
                            </div>
                            <div class="tp-caption sfb tp-resizeme " data-x="left" data-hoffset="0" data-y="top" data-voffset="510" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1400"> <a class="banner-button" href="/web/20190725223012/http://www.peccu.org/talk-to-us">Free Consultation <i class="fa fa-arrow-circle-right"></i></a> </div>
                            </li>
                        </ul>
                        </div>
                    </section>
                    <!-- ======= /revolution slider section ======= -->

                <!-- ======= Banner ======= -->
                    <section class="p0 container-fluid banner about_banner">
                        <div class="about_banner_opacity">
                            <div class="container">
                                <div class="banner_info_about">
                                    <h1>The Pecten Employee Co-orporative and Credit Union</h1>
                                    <ul class="breadcrumbs">
                                        <li><a href="/web/20190630005112/http://www.peccu.org/downloads"> 
                                            becomes a true example of WILL, GRIT and SUCCESS as they celebrate 30 years of excellence!</a></li>
                                    </ul>
                                </div>
                                <!-- End Banner Info -->
                            </div>
                            <!-- End Container -->
                        </div>
                        <!-- End Banner_opacity -->
                    </section>
                    <!-- End Banner -->
                    <!-- ================= /Banner ================ -->

                    <!-- ======= Welcome section ======= -->
                    <section class="welcome_sec" >
                        <div class="container">
                            <div class="row welcome_heading">
                                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                    <h2>We offer <br>
                                        several Products and Services</h2>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                    <p>We designed our services and product offerings so it appeals to a wide range of customers. We believe that everyone should have
                                        the right incentives for either making a saving or investing in their projects. We have the most competitive rates and we keep
                                        revising our offers to keep it so. We pride ourselves to being quick in responding to loan applications for all our members.
                                    </p>
                                </div>
                            </div>
                            <!-- End Row -->
                            
                            <div class="row welcome welcome_details">
                                <div class="col-lg-6 col-md-12">
                                    <div class="welcome_item"> <img src="../../../assets/images/PECCU-VisaCard.png" alt="PECCU-VisaCard">
                                        <div class="welcome_info">
                                            <h3>PECCU Branded Visa Card</h3>
                                            <p>This requires an upfront Payment of 13.000FCFA to get a card.(Zero VAT) There is an annual Charge of 8000FCFA (Zero VAT)
                                                and...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="welcome_item welcome_item_bottom"> <img src="../../../assets/images/ordinary-shares.png" alt="ordinary-shares">
                                        <div class="welcome_info">
                                            <h3>Ordinary shares account</h3>
                                            <p>This type of shares qualifies you, a joint owner of PECCU along with other members, and gives you the right to vote and
                                                to be voted...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 bottom_row">
                                    <div class="welcome_item"> <img src="../../../assets/images/redeemable-ps.png" alt="redeemable-ps">
                                        <div class="welcome_info">
                                            <h3>Redeemable Preference Shares (RPS)</h3>
                                            <p>This type of shares yields interest, One RPS is 1,500,000FCFA. Maturity period for RPS investment is 10 years minimum with
                                                fixed...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="welcome_item welcome_item_bottom"> <img src="../../../assets/images/education-loan.png" alt="education-loan">
                                        <div class="welcome_info">
                                            <h3>Education or school fees loans</h3>
                                            <p>For parents and individuals wanding to save towards the education of their kids or themselves, we offer loans with interest
                                                rate...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Row -->
                        </div>
                        <!-- End container -->
                    </section>
                    <!-- End welcome_sec -->
                    <!-- ======= /Welcome section ======= -->

                    <!-- ======= Who We Are ======= -->
                    <section class="we_are">
                        <div class="left_side float_left">
                            <div class="we_are_opacity">
                                <div class="we_are_border">
                                    <h2>Est. since 1986</h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Left_Side -->
                        <div class="right_side float_right">
                            <div class="we_are_deatails">
                                <h2>Who We Are</h2>
                                <p>PECCU is a financial Co-operative Credit Union owned and managed by its members. It was founded by the Employees of PECTEN CAMEROON
                                    COMPANY. It's first registration was in 1986 and re-gistered in 2001 under Decision N°00395/MINIFI, and the Banking Commission
                                    for Central African States (COBAC) under Decision N°D-2001/05 - Code N°19419.
                                    <br>
                                    <br> PECCU is affliliated to the Cameroon Co-operative Credit Union Leaque (CamCCUL). </p>
                                <div class="list_item"> <img src="../../../assets/images/icon-1.png" alt="icon-1">
                                    <p>Dedicated
                                        <br> Team
                                    </p>
                                    <img src="../../../assets/images/icon-2.png" alt="icon-2">
                                    <p>Attractive
                                        <br> interests rates</p>
                                    <img src="../../../assets/images/icon-3.png" alt="icon-3">
                                    <p class="support">Quick
                                        <br> response time</p>
                                </div>
                            </div>
                        </div>
                        <!-- End right_side -->
                    </section>
                    <!-- End We Are -->
                    <!-- ======= /Who We Are ======= -->

                    <!-- ======= Testimonial & Company Values ======= -->
                    <section class="testimonial_sec clear_fix" style="padding-top: 10px;">
                    <div class="container">
                    
                            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 testimonial_container">
                                <div class="sec-title">
                                    <h2>Testimonials</h2>
                                </div>
                                <div id="owl">
                                    <div>
                                        <div class="testimonial"> <img class="round_img" src="../../../assets/images/testimonials/jacqui.png" alt="Jacqui Patcha">
                                            <div class="float_right client_info">
                                                <p>Jacqui Patcha</p>
                                                <span>Chairperson of Credit Committee</span> </div>
                                            <p class="john_speach"> I am pleased to say that I am a proud beneficiary of PECCU's credit products for a long time. I applied and was granted
                                                a loan from PECCU and this helped me complete the purchase price of a house I bought close to 10 years ago. Recently,
                                                PECCU again provided partial funding for the construction of my residence, which was a giant project. </p>
                                        </div>
                                    </div>
                                    <!-- <div>
                                        <div class="testimonial"> <img class="round_img" src="../../../assets/images/testimonials/thobie.png" alt="Thobie Essama">
                                            <div class="float_right client_info">
                                                <p>Thobie Essama</p>
                                                <span>President of the Planning Committee</span> </div>
                                            <p class="john_speach"> I find PECCU very competitive with regards to interest on loans. The access to services is easy and it is family-like.
                                                I do have a say as a member. Just that feeling cannot be compared with other institutions. There is also a pride
                                                to be a member of something that works. </p>
                                        </div>
                                    </div> -->
                                    <!-- <div>
                                        <div class="testimonial"> <img class="round_img" src="../../../assets/images/testimonials/eric.png" alt="Eric Votmia">
                                            <div class="float_right client_info">
                                                <p>Eric Votmia</p>
                                                <span> (Vice President of PECCU)</span> </div>
                                        </div>
                                        <p class="john_speach"> PECCU has improved my business.
                                            <br> As a member of PECCU for over 16 years, I have benefi ted on numerous occasions. First PECCU assisted me to buy plots
                                            and a house while I was still working for Pecten. </p>
                                    </div> -->
                                    <!-- <div>
                                        <div class="testimonial"> <img class="round_img" src="../../../assets/images/testimonials/issa.png" alt="Ngoupayou Issa">
                                            <div class="float_right client_info">
                                                <p>Ngoupayou Issa</p>
                                                <span>PECCU Member</span> </div>
                                        </div>
                                        <p class="john_speach"> I am very happy to be a member of PECCU. PECCU has changed my life. Being a member has helped me in so many ways. The most
                                            important task I accomplished - purchasing my house-was with a loan from PECCU. </p>
                                    </div> -->
                                    <!-- <div>
                                        <div class="testimonial"> <img class="round_img" src="../../../assets/images/testimonials/sone.png" alt="Sone Kevin">
                                            <div class="float_right client_info">
                                                <p>Sone Kevin</p>
                                                <span>Member of PECCU</span> </div>
                                        </div>
                                        <p class="john_speach">PECCU is very reliable and as we celebrate 30 years, I hope it is going to grow stronger and attract more reliable members.
                                        </p>
                                    </div> -->
                                </div>
                                <!-- End owl -->
                            </div>
                            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 company" style="margin-top:64px">
                            
                                <h2>About Us</h2>
                                <div class="company-tab">
                                    <mat-tab-group >
                                        <mat-tab label="Our Vision"> 
                                            <div id="menu1" class="tab-pane">
                                                <blockquote>
                                                    <h1 class="blockquote-vision">To be in the Top Quartile of Category 1 MFIs in Cameroon.</h1>
                                                </blockquote>
                                            </div>    
                                        </mat-tab>
                                        <mat-tab label="Our Mission">
                                            <div id="menu2" class="tab-pane ">
                                                <blockquote>
                                                    <h1 class="blockquote-vision">To provide its members with an efficient and sustainable platform of financial products and services at competitive market conditions in an enabling and conducive environment that allows them to develop their full potential</h1>
                                                </blockquote>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Our Objectives">
                                            <h3>The purpose of this union is:</h3>
                                            <ul class="" style="margin-left: 5rem;">
                                                <li><i class="fa fa-arrow-circle-right"></i>To promote thrift among its members, by offering them an opportunity to
                                                    accumulate their savings.</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>To create for them a source of credit for provident productive purposes
                                                    at fair and reasonable rates of interest.</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>To provide the opportunity for members to use and control their money for
                                                    their mutual benefits.</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>Generally, to promote the social and economic interest of its members,
                                                    community and the country as a whole.</li>
                                            </ul>
                                        </mat-tab>
                                    </mat-tab-group>
                                    
                                    <!-- <ul class="nav nav-pills nav-justified">
                                        <li class="active"><a data-toggle="pill" href="#menu1">Our Vision</a>
                                        </li>
                                        <li><a data-toggle="pill" href="#menu2">Our Mission</a>
                                        </li>
                                        <li><a data-toggle="pill" href="#menu3">Our Objectives</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="menu1" class="tab-pane fade in active">
                                            <blockquote>
                                                <h1 class="blockquote-vision">To be in the Top Quartile of Category 1 MFIs in Cameroon.</h1>
                                            </blockquote>
                                        </div>
                                        <div id="menu2" class="tab-pane fade ">
                                            <blockquote>
                                                <h1 class="blockquote-vision">To provide its members with an efficient and sustainable platform of financial products and services at competitive market conditions in an enabling and conducive environment that allows them to develop their full potential</h1>
                                            </blockquote>
                                        </div>
                                        <div id="menu3" class="tab-pane fade">
                                            <h3>The purpose of this union is:</h3>
                                            <ul class="">
                                                <li><i class="fa fa-arrow-circle-right"></i>To promote thrift among its members, by offering them an opportunity to
                                                    accumulate their savings.</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>To create for them a source of credit for provident productive purposes
                                                    at fair and reasonable rates of interest.</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>To provide the opportunity for members to use and control their money for
                                                    their mutual benefits.</li>
                                                <li><i class="fa fa-arrow-circle-right"></i>Generally, to promote the social and economic interest of its members,
                                                    community and the country as a whole.</li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </div>
                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End Container -->
                    </section>
                    <!-- testimonial -->
                    <!-- ======= /Testimonial & Company Values ======= -->
        
                    <!-- ======== Small business ======== -->
                    <section class="small_business_sec">
                        <div class="business_opacity">
                            <div class="container float_right">
                                <h2>PECCU is dedicated to helping small businesses</h2>
                                
                                <ul class="">
                                    <li><i class="fa fa-arrow-circle-right"></i><a href="">Line of credit for business
                                        accounts</a>
                                    </li>
                                    <li><i class="fa fa-arrow-circle-right"></i><a href="">Financing of export trade
                                        and domiciliation of export
                                        by line of Credit.</a>
                                    </li>
                                    <li><i class="fa fa-arrow-circle-right"></i><a href="">Clearing and discounting of
                                        cheques and bills issued by
                                        reputable companies</a>
                                    </li>
                                    <li><i class="fa fa-arrow-circle-right"></i><a href="">Payment of salaries of
                                        companies</a>
                                    </li>
                                    <li><i class="fa fa-arrow-circle-right"></i><a href="">Buying and Servicing of
                                        External debts from local
                                        financial institutions or
                                        Banks</a>
                                    </li>
                                </ul>
                                
                            </div>
                            <!-- End container -->
                        </div>
                    </section>
                    <!-- Edn small_business_sec -->
                    <!-- ======== /Small business ======== -->

                    <!-- ======== Some Facts ======== -->
                    <section class="some_facts hidden-xs">
                        <div class="container"> <span class="timer" data-from="1" data-to="30" data-speed="5000" data-refresh-interval="50">30</span>
                        <p>Years of <br>
                            Excellence</p>
                        <span class="timer" data-from="10" data-to="990" data-speed="5000" data-refresh-interval="50">990</span>
                        <p>Loans <br>
                            issued</p>
                        <span class="timer" data-from="10" data-to="520" data-speed="5000" data-refresh-interval="50">520</span>
                        <p>Members <br>
                            and counting</p>
                        <span class="timer" data-from="1" data-to="4" data-speed="5000" data-refresh-interval="50">4</span>
                        <p class="case">Billion FCFA <br>
                            in assets</p>
                        </div>
                    </section>
                    <!-- End some_facts --> 
                    <!-- ======== /Some Facts ======== -->
        
                    <!-- ======== Our Advisor ======== -->
                    <section class="our_advisor">
                        <div class="container">
                            <div class="row">
                                <h2>Meet Our Staff</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="single-advisor">
                                        <div class="img-holder"> <img src="../../../assets/images/staff/aaron.png" alt="Aaron Neba"/>
                                            <div class="overlay">
                                                <div class="inner">
                                                    <ul class="social" style="display:none">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-holder hvr-sweep-to-bottom">
                                            <h4>Aaron Neba</h4>
                                            <p>Manager</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="single-advisor">
                                        <div class="img-holder"> <img src="../../../assets/images/staff/lilian.png" alt="Amaboh Lilian"/>
                                            <div class="overlay">
                                                <div class="inner">
                                                    <ul class="social" style="display:none">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-holder hvr-sweep-to-bottom">
                                            <h4>Lilian Amaboh</h4>
                                            <p>Cashier</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single-advisor">
                                        <div class="img-holder"> <img src="../../../assets/images/staff/becky.png" alt="Becky Nalova"/>
                                            <div class="overlay">
                                                <div class="inner">
                                                    <ul class="social" style="display:none">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-holder hvr-sweep-to-bottom">
                                            <h4>Becky Nalova</h4>
                                            <p>Accountant</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single-advisor">
                                        <div class="img-holder"> <img src="../../../assets/images/staff/herve.png" alt="Mba Herve"/>
                                            <div class="overlay">
                                                <div class="inner">
                                                    <ul class="social" style="display:none">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-holder hvr-sweep-to-bottom">
                                            <h4>Mba Hervé</h4>
                                            <p>Loan Officer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End container -->
                    </section>
                    <!-- End our_advisor -->
                    <!-- ======== /Our Advisor ======== -->
        
                    <!-- ======== Latest News ======== -->
                    <section class="p0 container-fluid latest_news_sec news_large">
                        <div class="container">
                            <h2>Latest from PECCU</h2>
                        </div>
                        <div class="news_highlight">
                            <!-- {-module_blogsitepost template="/Layouts/Blog/custom-home.tpl"-}-->
                            <div class="col-lg-3 col-md-6 news">
                                <div class="news_img_holder"> <img class="img-responsive" src="../../../assets/images/back-to-school-12.png" alt="image">
                                    <div class="news_opacity"> </div>
                                    <div class="news_details">
                                        
                                        <a href="/web/20190725223012/http://www.peccu.org/news/ongoing-school-fees-loans"> <span>12.08.2016</span>
                                            <h4>Ongoing School Fees Loans</h4>
                                            <p>We all as parents want to equip our children with the best education that will set them upon the path to a successful life.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 news news_right">
                                <div class="news_img_holder"> <img class="img-responsive" src="../../../assets/images/PIC-news-image.png" alt="image">
                                    <div class="news_opacity"> </div>
                                    <div class="news_details">
                                        <a href=""> <span>09.12.2015</span>
                                            <h4>Council approves PECCU building</h4>
                                            <p>The Town Planning department of Douala Urban Council has approved the construction of the new PECCU building in Akwa. </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 news news_bottom">
                                <div class="news_img_holder">
                                    <img class="img-responsive" src="../../../assets/images/30-yrs-logo.png" alt="image">
                                    <div class="news_opacity"> </div>
                                    <div class="news_details">
                                        <a href="/web/20190725223012/http://www.peccu.org/press-release/pecten-employees-celebrates-30-years"> <span>09.02.2016</span>
                                            <h4>30 years Celebrations start</h4>
                                            <p>PECCU Unveils the start of celebrations to mark 30 years of excellence. Activities and Gala planned as part of events.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 news news_right news_bottom">
                                <div class="news_img_holder"> <img class="img-responsive" src="../../../assets/images/sponsored-walk.png" alt="image">
                                    <div class="news_opacity"> </div>
                                    <div class="news_details">
                                        <a href="/web/20190725223012/http://www.peccu.org/press-release/signature-activities-to-celebrate-30"> <span>19.02.2016</span>
                                            <h4>Walk and Football as part of celebrations</h4>
                                            <p>PECCU is organiseing sponsored walk and football to mark the beginning of the 30 years celebrations. </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End latest_news_sec -->
                    <!-- ======== /Latest News ======== -->
        
                    <!-- ======== Our Partner & Get in touch ======== -->
                    <section class="container-fluid partner_touch_sec">
                        <div class="container">
                            <div class="row">
                                <div class="our_partner col-lg-6 col-md-7">
                                    <h2>Our Corporate Partners</h2>
                                    <ul>
                                        <li>
                                            <a href=""><img src="../../../assets/images/partners/addax.png" alt="ADDAX Petroleum">
                                            </a>
                                        </li>
                                        <li>
                                            <a href=""><img src="../../../assets/images/partners/uba.png" alt="United Bank of Africa">
                                            </a>
                                        </li>
                                        <li>
                                            <a href=""><img src="../../../assets/images/partners/camccul.png" alt="CamCCUL Network">
                                            </a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href=""><img src="../../../assets/images/partners/brussels.png" alt="Brussels Airline">
                                            </a>
                                        </li>
                                        <li>
                                            <a href=""><img src="../../../assets/images/partners/tradex.png" alt="Tradex Cameroon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href=""><img src="../../../assets/images/partners/pic.png" alt="PECCU Investment Corporation">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End our_partner -->
                                <div class="get_touch col-lg-6 col-md-5 col-sm-12 col-xs-12">
                                    <h2>Get In Touch</h2>
                                    <form action="includes/get-in-touch.php" class="get-in-touch-form">
                                        <input class="form-control name" type="text" name="name" placeholder="Your Name">
                                        <input class="form-control email" type="email" name="email" placeholder="Your Email">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Loan Application <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li>Loan Repayments</li>
                                                <li>Opening an Account</li>
                                                <li>Savings &amp; Interests</li>
                                                <li>Other</li>
                                            </ul>
                                            <input type="hidden" name="discuss">
                                        </div>
                                        <input class="form-control" type="text" name="phone" placeholder="Your Phone Number">
                                        <button type="submit" class="submit">submit now <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- End get_touch -->
                            </div>
                            <!-- End Row -->
                        </div>
                        <!-- End Container -->
                    </section>
                    <!-- End container-fluid -->
                    <!-- ======== /Our Partner & Get in touch ======== -->
  
                    <!-- ============ free consultation ================ -->
                    <section class="container-fluid consultation">
                        <div class="container text-center">
                            <p>If you have any querry for loans or interest rates ... We are available</p>
                            <a href="/web/20190725223012/http://www.peccu.org/contact">Contact us <i class="fa fa-arrow-circle-right"></i></a> </div>
                    </section>
                    <!-- End consultation -->
                    <!-- ============ /free consultation ================ -->
        
  

