<!-- ======= Banner ======= -->
<section class="p0 container-fluid banner about_banner">
    <div class="about_banner_opacity">
        <div class="container">
            <div class="banner_info_about">
                <h1>Ongoing School Fees Loans</h1>
                <ul class="breadcrumbs">
                    <li><a href="/web/20190703064231/http://www.peccu.org/news/ongoing-school-fees-loans">Ongoing School Fees Loans</a></li>
                </ul>
            </div>
            <!-- End Banner Info -->
        </div>
        <!-- End Container -->
    </div>
    <!-- End Banner_opacity -->
</section>
<!-- End Banner -->
<!-- ================= /Banner ================ -->
<!-- =============== blog container ============== -->
<article class="blog-container faqs_sec blog-two">
    <!-- faqs_sec use for style side content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 white-left right-side ptb-13">
                







<h1>Ongoing School Fees Loans!</h1>

<p><img src="/web/20190703064231im_/http://www.peccu.org/images/back-to-school-peccu.jpg">
</p>
<p>We all as parents want to equip our children with the best education that will set them upon the path to a successful life. In our commitment to
    helping you provide all that is best for your little loved ones, we have – once more – launched our school fees loans program for the upcoming
    2016/2017 academic year!</p>
<h3>How does it work?</h3>
<p>When you meet the requirements to benefit from our school fees loans, we pay the total fees requesteddirectly to youvia electronic transfer. This
    is a convenient way to manage school fees, especially for school that request urge amounts with very few or no instalments. You then have the
    opportunity to spread the cost of school fees with affordable monthly repayments to us.</p>
<h3>How much will
    it cost you?</h3>
<p>We offer highly competitive and affordable rates for our school fees loans. Get in touch with us and you will find out how surprisingly low they
    are.
</p>
<h3> What do you need to apply?</h3>
<p>Applying is very easy. All you need is meet the following requirements:</p>
<ol>
    <li> Be a registered Member of PECCU</li>
    <li> Possess the flexible Capacity of repayment </li>
    <li> Document evident of school fees need</li>
    <li> Apply for a loan amount within you credit capacity</li>
</ol>
<h3> How long does it take?</h3>
<p> Once you meet all requirements, it usually takes less than 48 hoursto obtain a school fees loan from us.</p>







            </div>
            <!-- End right-side -->
            <div class="col-lg-4 col-md-4 col-sm-12 left_side blog_right_container">
<!-- Left Side -->
<h4>Search</h4>
<form action="#">
<input type="text" placeholder="Enter Search Keywords">
<button type="submit"><span class="icon icon-Search"></span>
</button>
</form>
<h4>Quick Links</h4>
<ul class="p0 category_item">
<li><a href="/web/20190703064231/http://www.peccu.org/about/women"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;PECCU Women</a>
</li>
<li><a href="/web/20190703064231/http://www.peccu.org/about/bod"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Board of Directors</a>
</li>
<li><a href="/web/20190703064231/http://www.peccu.org/about/csr"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Corporate Social Responsibility</a>
</li>
<li><a href="/web/20190703064231/http://www.peccu.org/about/regulation"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Regulatory Information</a>
</li>
<li><a href="/web/20190703064231/http://www.peccu.org/services/loans"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Loans</a>
</li>
<li><a href="/web/20190703064231/http://www.peccu.org/services/savings" class="bottom_item"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Savings</a>
</li>
</ul>
<h4>Latest</h4>
<ul class="p0 post_item">
<li>AUG 12,2016<a href="/web/20190703064231/http://www.peccu.org/news/ongoing-school-fees-loans">Ongoing School Fees Loans! ...</a>
</li>
<li>FEB 02,2016<a href="/web/20190703064231/http://www.peccu.org/press-release/pecten-employees-celebrates-30-years">Pecten Employees Coorperative Credit Union Celebrates 30 Years of Great Achievement ...</a>
</li>
<li>AUG 12,2015<a href="" class="bottom_item">Making Cents Investments in Start-ups become profitable for Companies ...</a>
</li>
</ul>
</div>
            <!-- End left side -->
        </div>
        <!-- End row -->
    </div>
</article>

<!-- =============== /blog container ============== -->

<!-- ============ free consultation ================ -->
<section class="container-fluid consultation">
    <div class="container text-center">
        <p>If you have any querry for loans or interest rates ... We are available</p>
        <a routerLink="/contact">Contact us <i class="fa fa-arrow-circle-right"></i></a> </div>
</section>
<!-- End consultation -->
<!-- ============ /free consultation ================ -->
