        <!-- ======= Banner ======= -->
        <section class="p0 container-fluid banner about_banner">
            <div class="about_banner_opacity">
                <div class="container">
                    <div class="banner_info_about">
                        <h1>Contact</h1>
                        <ul class="breadcrumbs">
                            <li><a routerLink="/contact">Welcome to PECCU</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;<a href="/web/20190629103216/http://www.peccu.org/about">About Us</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;<a href="/web/20190629103216/http://www.peccu.org/contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- End Banner Info -->
                </div>
                <!-- End Container -->
            </div>
            <!-- End Banner_opacity -->
        </section>
        <!-- End Banner -->
        <!-- ================= /Banner ================ -->

		<!-- =================== Contact us container ============== -->
				<section class="contact_us_container">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;"> <!-- section title -->
								<h2>Get In Touch With Us</h2>
								<p>We are located on the 1st floor of the Ethiopian Airlines building Bonanjo – Douala<br>
									B.P. 2273 Douala <br>Tel: +237 233 - 42 - 16 - 83 / Mob.: +237 677 - 27 - 46 - 23</p>
							</div> <!-- End section title -->
							<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 form_holder"> <!-- form holder -->
								<form action="#" class="contact-form">
									<input class="form-control name" type="text" name="name" placeholder="Your Name">
									<input class="form-control email" type="email" name="email" placeholder="Your Email">
									<input class="form-control" type="text" name="subject" placeholder="Subject">
									<textarea name="message" placeholder="Message"></textarea>
									<button type="submit" class="submit">submit now <i class="fa fa-arrow-circle-right"></i></button>
								</form> <!-- End form holder -->
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right address">
								<address>
									<div class="icon_holder float_left"><span class="icon icon-Pointer"></span></div>
									<div class="address_holder float_left">	Rue de Trieste <br> Douala, Littoral <br>Region</div>
								</address>
								<address class="clear_fix">
									<div class="icon_holder float_left"><span class="icon icon-Plaine"></span></div>
									<div class="address_holder float_left">contact@peccu.org</div>
								</address>
								<address class="clear_fix">
									<div class="icon_holder float_left"><span class="icon icon-Phone2"></span></div>
									<div class="address_holder float_left">+237 233 - 42 - 16 - 83 <br> +237 677 - 27 - 46 - 23</div>
								</address>
							</div>
						</div>
					</div>
				</section>
		<!-- =================== /Contact us container ============== -->

		<!-- =============== google map ============= -->
				<div class="map">
					<div class="google-map" id="contact-google-map" data-map-lat="4.043166" data-map-lng="9.688785" data-icon-path="/images/map-marker.png" data-map-title="PECCU" data-map-zoom="17">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.889410063723!2d9.68631327372484!3d4.042983495930763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x106112f67e41cd8b%3A0x9b3b801214f0052b!2sEthiopian%20Airlines!5e0!3m2!1sen!2scm!4v1700822294204!5m2!1sen!2scm" width="100%" height="450" style="border: 6px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
		<!-- =============== /google map ============= -->
        
        <!-- ============ free consultation ================ -->
        <section class="container-fluid consultation">
            <div class="container text-center">
                <p>If you have any querry for loans or interest rates ... We are available</p>
                <a routerLink="/contact">Contact us <i class="fa fa-arrow-circle-right"></i></a> </div>
        </section>
        <!-- End consultation -->
        <!-- ============ /free consultation ================ -->