        <!-- ======= Banner ======= -->
        <section class="p0 container-fluid banner about_banner about_banner_about">
            <div class="about_banner_opacity">
                <div class="container">
                    <div class="banner_info_about">
                        <h1>About Us</h1>
                        <ul class="breadcrumbs">
                            <li><a routerLink="/home">Welcome to PECCU</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;<a routerLink="/about">About Us</a></li>
                        </ul>
                    </div>
                    <!-- End Banner Info -->
                </div>
                <!-- End Container -->
            </div>
            <!-- End Banner_opacity -->
        </section>
        <!-- End Banner -->
        <!-- ================= /Banner ================ -->

                <!-- ============ Our history ========== -->
                <section class="history_sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 left-side">
                                <h2>Our History</h2>
                                <p>
                                    With the help of the Cameroon Co-operative Credit Union League Limited (CamCCUL,) the Pecten Employees Cooperative Credit Union (PECCU) came into being
                                    on February 28, 1986 with 39 members signing up. PECCU immediately affiliated itself to CamCCUL, purely because it was the
                                    right thing to do, and also because it needed to be affiliated to a trust worthy institution. </p>
                                <p>A Board of Directors, made up of five people was elected to run the affairs of the Union, and most strategic decisions were brought
                                    up to the board to be handled.</p>
                                <p>Right after the initiation of this credit union, Pecten Cameroon Company granted the Union Payroll deduction facilities and as
                                    soon as it was set up, membership grew from 39 to 150 within a short time while total savings grew to 117 million CFA.</p>
                                <ul style="display:none">
                                    <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Financial Managment and Consulting</a>
                                    </li>
                                    <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Advice and Assistance Investing</a>
                                    </li>
                                    <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Comprehensive Support for Your Business</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 right_side">
                                <img class="img-responsive" src="/web/20190723022602im_/http://www.peccu.org/images/peccu-logo.jpg" alt="PECCU - Pecten Employees Co-operative Union - Douala">
                                <h3>PECCU Mission </h3>
                                <p>
                                    The Mission of PECCU is to provide its members with an efficient and sustainable platform of financial products and services at competitive market conditions
                                    in an enabling and conducive environment that allows them to develop their full potential.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ============ /Our history ========== -->

                        <!-- ============ Our history ========== -->
        <section class="history_sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 left-side">
                        <h2>Our Objectives</h2>
                        
                        <ul class="">
                            <li><i class="fa fa-check-square-o"></i>To promote thrift among its members, by offering them an opportunity to accumulate their savings.</li>
                            <li><i class="fa fa-check-square-o"></i>To create for them a source of credit for provident productive purposes at fair and reasonable rates of interest.</li>
                            <li><i class="fa fa-check-square-o"></i>To provide the opportunity for members to use and control their money for their mutual benefits.</li>
                            <li><i class="fa fa-check-square-o"></i>Generally, to promote the social and economic interest of its members, community and the country as a whole.</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 right_side">
                        <img class="img-responsive" src="/web/20190723022602im_/http://www.peccu.org/images/peccu-targets.jpg" alt="PECCU - Pecten Employees Co-operative Union - Douala">
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- ============ /Our history ========== -->

                <!-- ======== Our Advisor ======== -->
                <section class="our_advisor">
                    <div class="container">
                        <div class="row">
                            <h2>Meet Our Staff</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="single-advisor">
                                    <div class="img-holder"> <img src="../../../assets/images/staff/aaron.png" alt="Aaron Neba"/>
                                        <div class="overlay">
                                            <div class="inner">
                                                <ul class="social" style="display:none">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-holder hvr-sweep-to-bottom">
                                        <h4>Aaron Neba</h4>
                                        <p>Manager</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="single-advisor">
                                    <div class="img-holder"> <img src="../../../assets/images/staff/lilian.png" alt="Amaboh Lilian"/>
                                        <div class="overlay">
                                            <div class="inner">
                                                <ul class="social" style="display:none">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-holder hvr-sweep-to-bottom">
                                        <h4>Lilian Amaboh</h4>
                                        <p>Cashier</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-advisor">
                                    <div class="img-holder"> <img src="../../../assets/images/staff/becky.png" alt="Becky Nalova"/>
                                        <div class="overlay">
                                            <div class="inner">
                                                <ul class="social" style="display:none">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-holder hvr-sweep-to-bottom">
                                        <h4>Becky Nalova</h4>
                                        <p>Accountant</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-advisor">
                                    <div class="img-holder"> <img src="../../../assets/images/staff/herve.png" alt="Mba Herve"/>
                                        <div class="overlay">
                                            <div class="inner">
                                                <ul class="social" style="display:none">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-holder hvr-sweep-to-bottom">
                                        <h4>Mba Herve</h4>
                                        <p>Loan Officer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <hr>
                            
                            <div class="col-md-3" style="display:none">
                                <div class="single-advisor">
                                    <div class="img-holder"> <img src="/web/20190723022602im_/http://www.peccu.org/images/staff/peter.png" alt="Peter Loh"/>
                                        <div class="overlay">
                                            <div class="inner">
                                                <ul class="social">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-holder hvr-sweep-to-bottom">
                                        <h4>Peter Loh</h4>
                                        <p>Assistant Manager</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-advisor">
                                    <div class="img-holder"> <img src="/web/20190723022602im_/http://www.peccu.org/images/careers-at-peccu.jpg" alt="Career Opportunities at PECCU" class=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content-holder">
                                    <h2>Career at PECCU</h2>
                                    
                                    <p style="padding-top:45px;">
                                        
                                        Are you interested in joining PECCU as a graduate, intern or experienced professional? Well the not-so-good news is that we currently offer no vacancies.
                                        But you may want to use <a href="/web/20190723022602/http://www.peccu.org/careers/drop-cv" title="Speculative Application for job at PECCU" class="">this form</a> to send a speculative application. When opportunites arise we shall let you know.
                                    </p>
                                    <hr>
                                    <h3>We wish you every luck in your search for a new job.</h3>
                                </div>
                                <hr/>
                                <a href="/web/20190723022602/http://www.peccu.org/careers/drop-cv" class="btn btn-default btn-lg btn-block">Drop your CV</a>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End container -->
                </section>
                <!-- End our_advisor -->
                <!-- ======== /Our Advisor ======== -->

                <!-- <app-whoweare></app-whoweare> -->

                                        <!-- ======== Some Facts ======== -->
                <!-- ======== Some Facts ======== -->
                <section class="some_facts hidden-xs">
                    <div class="container"> <span class="timer" data-from="1" data-to="30" data-speed="5000" data-refresh-interval="50">30</span>
                      <p>Years of <br>
                        Excellence</p>
                      <span class="timer" data-from="10" data-to="990" data-speed="5000" data-refresh-interval="50">990</span>
                      <p>Loans <br>
                        issued</p>
                      <span class="timer" data-from="10" data-to="520" data-speed="5000" data-refresh-interval="50">520</span>
                      <p>Members <br>
                        and counting</p>
                      <span class="timer" data-from="1" data-to="4" data-speed="5000" data-refresh-interval="50">4</span>
                      <p class="case">Billion FCFA <br>
                        in assets</p>
                    </div>
                  </section>
                  <!-- End some_facts --> 
                  <!-- ======== /Some Facts ======== -->